@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*** Home Page ***/
.home-page-container {
  padding: 10px;
  background-color: #f9f9fb;
}

.first-section {
  margin: 75px 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-logo {
  width: 300px;
}

.second-section {
  width: 100%;
  margin-bottom: 150px;

  border-radius: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.smartphone-img-prev-container {
  overflow: hidden;

  background: url("./assets/paradise-bg.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;

  border: 3px solid #6997fc;
  border-radius: 15px;

  box-shadow: 0 0 10px #777;
}

.join-us-container {
  height: auto;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-us-container h2 {
  padding: 5px;

  text-align: center;
}

.join-us-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*** LOGIN/SIGNUP SECTION ***/
.all-page-container {

  background-color: #f7f8fa;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#all-page-container-login {
  height: 100dvh;
}

.logo-empty-space {
  margin-bottom: 100px;
}

.logo {
  width: 125px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: -7px;
  animation-name: slideInDown;
  animation-duration: 1300ms;
  animation-timing-function: ease-out;
}

@keyframes slideInDown {
  from {
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
}

.initial-box {
  height: 82dvh;
  padding: 50px;

  border: 3px solid #0c6cfc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#initial-box-login {
  height: 45dvh;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-container input:hover {
  box-shadow: 5px 5px 10px #6997fc;
}

#date-input {
  width: 200px;
}

#form-btn {
  width: 200px;
}

.simple-page-changer-container {
  margin: 30px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/*** FOOTER SECTION ***/
.footer-container {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reserved-rights-txt {
  font-size: 15px;
}

.footer-container span {
  font-size: 14px;
}

#github-icon-link {
  width: 45px;
}

#linkedin-icon-link {
  width: 70px;
}

/*** NotFound Page Section (404) ***/
.not-found-container {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container img {
  width: 500px;
}

/*** Feed Page Section ***/
.feed-page-container {
  position: relative;
}

.header-section {
  position: relative;
  height: 90px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 95%
  );

  border-radius: 0px 0px 10px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo {
  width: 75px;
  filter: drop-shadow(0px 5px 25px #0c6cfc);
}

/*** Posts List Section ***/
.posts-list-container {
  padding: 10px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*** Card Section ***/
.post-card-container {
  width: 95%;
  border-radius: 10px;

  background-color: #f7f8fa;
  box-shadow: 0px 0px 10px #777;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.post-card-header {
  padding: 5px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 7px;

  display: flex;
  align-items: center;
}

#profile-icon {
  width: 50px;
  margin: 5px 10px;
  border: 3px solid #007bff;
  border-radius: 500px;
}

#user-name-header {
  font-size: 17px;
}

.post-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card-image img {
  width: 100%;
}

.post-card-description {
  padding: 15px;
  text-align: justify;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#description-toggle-btn {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #0c6cfc;
  font-weight: bold;

  transition: 0.3s;
}

#description-toggle-btn:hover {
  background-color: #e7e8e9;
  border-radius: 5px;
}

.post-interaction {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-interaction button {
  margin: 3px;
  border-radius: 15px;
  border: none;
}

.toggle-menu-btns-config {
  background: none;
}

.post-interaction button img {
  width: 45px;
}

#like-btn-img {
  width: 48px;

}

.main-post-btn {
  display: flex;
  gap: 10px;
}

.dropdown-toggle::after {
  display: none !important;
}

/*** Menú desplegable ***/
.custom-dropdown button {
  border: 2px solid #0c6cfc;
  border-radius: 10px;
  padding: 7px;
  width: 90%;
  text-align: justify;
}

.custom-dropdown button:hover {
  background-color: #013582;
  color: #fff;
}

/*** Navbar Section ***/
.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.2);
  z-index: 3;
}

.icon-basic-config {
  width: 45px;
}

.btn-basic-config {
  border: none;
  background: none;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-container button {
  border-radius: 20px;
  transition: 0.2s;
}

.nav-container button:hover {
  border: 2px solid #6997fc;
}

#nav-profile-icon {
  border: 2px solid #007bff;
  border-radius: 500px;
}

/*** Create Post ***/
.create-post-container {
  padding: 10px;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.basic-title-layout {
  padding: 10px;

  border: 5px solid #007bff;
  border-radius: 15px;
  background-color: #013582;
  box-shadow: 0 0 10px #333;

  color: #fff;
}

.general-form-app {
  height: 65%;
  padding: 20px;

  border: 3px solid #0c6cfc;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.general-form-app label {
  padding: 5px;

  font-weight: bold;
  font-size: 15px;
  color: #fff;

  border: 2px solid #0c6cfc;
  border-radius: 10px;
  background-color: #013582;
}

.form-control-btns {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cloudinary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

.custom-prev-img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #555;
}

/*** Edit Post ***/
.edit-post-container {
  height: 100dvh;
  padding: 10px;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.no-edit-parts-post {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.no-edit-parts-post img{
  width: 225px;
  border-radius: 10px;
}

.no-edit-parts-post span {
  font-weight: bold;
}

/*** Profile Page ***/
.profile-container {
  position: relative;
  height: 100dvh;
}

.profile-header {
  padding-bottom: 45px;
  
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
    );
    
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#profile-photo-img {
  width: 250px;
  margin: 50px 0px;
  padding: 7px;
  border: 3px solid #007bff;
  border-radius: 500px ;
  filter: drop-shadow(0px 0px 25px #6997fc);
}

#profile-username {
  font-weight: bold;
  font-size: 25px;
}

#profile-fullname {
  color: #555;
  font-size: 17px;
}

.profile-header-btns {
  width: 90%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.profile-header-btns button {
  width: 175px;
  padding: 15px;
}

.all-user-posts {
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/*** Comments Page ***/
.comment-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back-icon-btn {
  background: none;
  border: none;
  position: absolute;
  top: 25px;
  left: 25px;
}

#back-icon-img {
  width: 35px;
  filter: drop-shadow(0px 0px 5px #6997fc);
}

.comments-list {
  padding: 20px;
  padding-bottom: 165px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comment-container {
  padding: 10px;
  width: 370px;

  border: 3px solid #013582;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #555 ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comment-content-p {
  font-weight: bold;
}

#comment-user-p {
  color:#777;
}

#comment-config-icon {
  width: 35px;
}

.floating-comment-input-container {
  width: 100%;
  position: fixed;
  bottom: 55px;
  z-index: 3;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
    );

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  border: 5px solid #6997fc;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #013582;
}

#submit-comment-btn {
  padding: 15px;
  margin-bottom: 13px;
  box-shadow: 0px 0px 20px #0c6cfc;
}

.form-comment-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/*** Edit Profile ***/
.edit-profile-page-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture-section {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px
}

#profile-img {
  width: 175px;
  border-radius: 500px;
}

.profile-photo-rounded-container {
  width: 195px;
  height: 195px;
  padding: 10px;

  border: 3px solid #007bff;
  border-radius: 500px;
  overflow: hidden;
}

.profile-photo-rounded-container img {
  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 20px #0c6cfc;
}

.edit-profile-main-form {
  padding: 20px;

  border: 3px solid #007bff;
  border-radius: 10px;


  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}

.edit-profile-btn-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/*** Search Page ***/
.search-container {
  height: 100dvh;
  padding: 10px;
}

.search-bar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#magnifying-glass-btn {
  background: none;
  border: none;
}

#magnifying-glass-icon {
  width: 55px;
}

#search-input {
  width: 75%;
  padding: 7px;

  border: 3px solid #007bff;
  border-radius: 10px;
}

#search-results {
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#search-results-p {
  padding: 10px;
  margin: 5px;
  font-size: 17px;
  color:#fff;

  border: 3px solid #007bff;
  border-radius: 10px;
  background-color: #013582;
  box-shadow: 5px 5px 10px #333;
}


/*** RESPONSIVE ADJUSTMENTS SECTION ***/


@media (min-width: 769px) and (max-width: 1024px) {
  .post-card-container {
    width: 600px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .post-card-container {
    width: 600px;
  }
}

@media (min-width: 1441px) {
  .post-card-container {
    width: 600px;
  }
}